db.sqlite3

/ads/__pycache__
/ads/migrations/__pycache__

/auths/__pycache__
/auths/migrations/__pycache__

/bookstore/__pycache__
/bookstore/migrations/__pycache__

/cart/__pycache__
/cart/migrations/__pycache__

/cartitem/__pycache__
/cartitem/migrations/__pycache__

/review/__pycache__
/review/migrations/__pycache__

/questions/__pycache__
/questions/migrations/__pycache__

/connectbook\__pycache__

